<!DOCTYPE html>
<html>
<head>
    <title>New Form</title>
</head>
<body>
    <form action=' '>
        <label><input type="name" name="First Name" >First Name</label> <br>         
        <label><input type="name" name="Last Name" >Last Name</label><br>
        <h2>Favorite Ice Cream flavor:</h2>
        <input type="checkbox" name="flavor">Vanilla
        <input type="checkbox" name="flavor">Chocolate
        <input type="checkbox" name="flavor">Strawberry
        <input type="checkbox" name="flavor">Other <br>
        <label><input type="text" name="other flavor" >Other flavor</label><br>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>