<!DOCTYPE html>
<html>
<head>
    <title>Add Users to Course</title>
  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'courses/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{% if messages %}
    {% for message in messages %}
        <h3 >{{message}}</h3>
    {% endfor %}
{% endif %}
    <form action="{% url 'courses:users_courses' %}" method="post">
        {% csrf_token %}
        <select name="user">
            {% if users %}
                {% for user in users %}
                    <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                {% endfor %}
            {% endif %}
        </select>
        <select name="course">
            {% if courses %}
                {% for course in courses %}
                    <option value="{{course.id}}">{{course.name}}</option>
                {% endfor %}
            {% endif %}
        </select>
        <input type="submit" value="Add User To Course">
    </form>
    <table>
        <tr>
            <th>Course ID</th>
            <th>Name</th>
            <th>Number of Users</th>
        </tr>
        {% if courses %}
            {% for course in courses %}
        <tr>
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.num_users}}</td>
            {% endfor %}
        {% endif %}
        </tr>
    </table>
    <form action="{%url 'courses:index' %}" method="POST">
    {% csrf_token %}
        <button>Return Home</button>
    </form>

</body>
</html>