<!DOCTYPE html>
<html>
<head>
    <title>Wall</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

    <header>
        <h1>Coding Dojo Wall</h1>
        <h6>Welcome, {{ session['first_name'] }}</h6>
        <form action="/logout" method="GET">
            <button>Log out</button>
        </form>
    </header>
    <form action="/post_message" method="POST">
        <h2>Post a message</h2>
        <textarea id="post_message" type="textarea" name="message"></textarea>
        <input class="submit" type="submit" value="Post">
    </form>
    {% for message in messages %}
    <div>
        <h3>{{ message['first_name'] }} {{ message['last_name']  }}</h3>
        <h3>posted at {{ message['created_at'] }}</h3>
        <p>{{ message['message'] }}</p>
        {% for comment in comments %}
                {% if message['message_id'] == comment['message_id'] %}
                
                <h3 class="replies">{{ comment['first_name'] }}{{ comment['last_name'] }} replied at {{ comment['created_at'] }}</h3>
                <p class="replies text">{{ comment['comment'] }}</p>
                {% endif %}
        {% endfor %}
        <form class="comments" action="/post_comment/{{ message['message_id'] }}>" method="POST">
            <h4>Reply</h4>
            <textarea id="post_comment" type="textarea" name="comment"></textarea>
            <input type="hidden" value={{ message['id'] }}>
            <input class="submit" type="submit" value="Post">
        </form>
     </div>
    {% endfor %}
<!--  -->


</body>
</html>