<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    {% load staticfiles %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href= "{% static 'login/css/materialize.min.css' %}"   media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
    <div>
        <h1>Register</h1>
        <form action="{%url 'login:create' %}" method="post"> 
        {% csrf_token %}
            <label>First Name: <input type="name" name="first_name"></label>
            <label>Last Name: <input type="name" name="last_name"></label>
            <label>Email <input type="email" name="email"></label>
            <label>Password <input type="password" name="password1"></label>
            <label>Confirm Password <input type="password" name="password2"></label>
            <button>Register</button>
        </form>
    </div>

 {% if messages %}
    {% for message in messages %}
        <h3 class="{{message.tags}}">{{message}}</h3>
    {% endfor %}
  {% endif %}

    <div id="login">
    <h1>Log in</h1>
        <form id="inset" action="{%url 'login:login' %}" method="post"> 
        {% csrf_token %}
            <label>Email <input type="email" name="email"></label>
            <label>Password <input type="password" name="password"></label>
            <button>Log in</button>
        </form>
    </div>

</body>
</html>