<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>
<body>
    <div>
        <h1>Register</h1>
        <form action="{%url 'login:create' %}" method="post">
        {% csrf_token %}
        {{regForm}}
        <button>Register</button>
        </form>
    </div>
 {% if messages %}
    {% for message in messages %}
        <h3 class="{{message.tags}}">{{message}}</h3>
    {% endfor %}
  {% endif %}

    <div id="login">
        
        <h1>Log In</h1>
        <form action="{%url 'login:login' %}" method="post">
        {% csrf_token %}
        {{logForm}}
        <button>Login</button>
        </form>

    </div>



</body>
</html>