* {
    padding: 0;
    margin: 0;
}

label {
    margin-left: 20px;
}

input {
    width: 40%;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
}

textarea {
    margin-left: 20px;
    width: 90%;
    height: 100px;
}

.submit {
    display: block;
    width: 80px;
    background-color: steelblue;
    color: white;
    margin: 10px;
    margin-left: 20px;
}

h1 {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: lighter;
    font-family: Helvetica;
}

h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: 300px;
    font-family: Helvetica;
/*    font-weight: lighter;*/
    color: steelblue;
}

div {
    margin-left: 20px;
    display: block;
    max-width: 970px;
    font-family: Helvetica;
}

h3 {
    display: inline-block;
    font-weight: lighter;
    font-style: italic;
}

p {
    margin-left: 20px;
    margin-bottom: 30px;
    word-wrap: break-word;
    max-width: 80%;
}

h5 {
    text-align: center;
    display: block;
    color: red;
    font-size: 16px;
    width: 260px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

h6 {
    margin-top: -60px;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    font-weight: lighter;
}


header {
    background-color: steelblue;
    color: white;
    font-family: Helvetica;
    width: 95%;
    height: 80px;
    padding-right: 10%;
    margin-bottom: 10px;
}

button {
    float: right;
    width:60px;
    margin-top: 5px;
    margin-right: 10px;
}