<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'restful/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <p >{{message}}</p>
    {% endfor %}
{% endif %}

<main>
    <h1>Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% if products %}
            {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>${{product.price}}</td>
            <td class='last_column'> 
            <!-- change show form to button for get request -->
                <form action="{%url 'restful:show' id=product.id %}" method="GET">
        
                    <button name="show" value="show">Show</button>
                </form>
                <form action="{%url 'restful:destroy' id=product.id %}" method="POST">
                {% csrf_token %}
                    <button name="destroy" value="destroy">Remove</button>
                </form>
                 <form action="{%url 'restful:edit' id=product.id %}" method="POST">
                {% csrf_token %}
                    <button name="edit" value="edit">Edit</button>
                </form>
            </td>
            {% endfor %}
        {% endif %}
        </tr>
    </table>
    <a href="{%url 'restful:new' %}">Add New Product</a>
</main>


</body>
</html>