<!DOCTYPE html>
<html>
<head>
    <title>Show Product</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'restful/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main>
    <h1>Product {{product.id}}</h1>
    <table>
        <tr>
            <th>Name</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{product.description}}</td>
        </tr>
        <tr>
            <th>Price:</th>
            <td>{{product.price}}</td>
        </tr>
    </table>
    <a href="{%url 'restful:edit' id=product.id %}">Edit</a>
    <a href="{%url 'restful:index' %}">Back</a>

</main>
</body>
</html>