<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
</head>
<body>
    <header>
        <h2>Welcome, {{request.session.name}}!</h2>
        <a href="{% url 'login:logout' %}">Logout</a>
        <a href="{% url 'book_reviews:create' %}">Add Book and Author</a>
    </header>
    <main>
        <h1>Recent Book Reviews:</h1>

        {% for book in recent_books %}
            <h4>{{book.title}}, {{book.author}} </h4>
            <p>Average rating: {{book.avg_rating}}</p>
        {% endfor %}
    </main>
    <section>
    <!-- this isnt' doing anythign: -->

    </section>

        <section>
        <h3>Other Reviews:</h3>
        <div>
        {% for review in reviews %}
            <span><a href="{% url 'book_reviews:show_book' id=review.book.id %}">           
            <h3>{{review.book}}</h3></a> 
            <p>Review by <a href="{% url 'book_reviews:show_user' id=review.user.id %}">{{review.user.first_name}}</a></p>
            </span>

        {% endfor %}
                </div>
    </section>
</body>
</html>